.about-us-img {
    height: 105vh;
    border-radius: 10px;
    margin-left: 48px;
}

#about-us-text-container {
    width: 50vw;
    max-width: 800px;
    margin-left: 5em;
    margin-right: 48px;
}

#about-us-text-container p {
    color: #bccbe0;
    margin-bottom: 48px;
}

#about-us-text-container ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

#about-us-text-container li {
    width: 100%;
    font-size: 1.3em;
    font-weight: 600;
    flex: 1 1 calc(40% - 10px);
    margin-bottom: 16px;
    margin-right: 16px;
    white-space: nowrap;
}

@media screen and (max-width: 1000px) {
    #about-us > .section-container {
        flex-direction: column;
    }

    #about-us-text-container {
        width: fit-content;
        max-width: 800px;
        margin: 2em;
    }

    .about-us-img {
        height: 60rem;
        border-radius: 10px;
        margin: 2em;
        border-radius: 0;
    }
}


.background {
    display: flex;
    position: absolute;
	border-bottom: 100vw solid #061223;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	height: 300px;
	width: 120vh;
    transform: rotate(90deg);
    z-index: -1;
}