#about-us-image-container {
    height: 25em;
    width: 35em; 
    border-radius: var(--border-radius);
    overflow: hidden;
    box-shadow: 0.3vw 0.3vw 0.1vw #2f72d066;
}

#about-us-image-container img {
    height: calc(100% + 10vh);
    width: calc(100% + 10vh);
    border-radius: var(--border-radius);
}


#about-us-text-container {
    width: 30em;
    text-align: end;
    margin-left: 1em;
}