#contact-container {
    display: flex; 
    flex-direction: column; 
    margin: 2vw;
    width: 34vw; 
    align-items: flex-end;
}

#contact-container h2 {
    width: inherit;
}

#contact-container p {
    width: inherit;
    margin-bottom: 5vh; 
    color: #6C9ADA;
}

#contact-container form {
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    width: inherit;
}

.form-item {
    flex: 1 1 calc(40% - 10px);
    display: flex;
    flex-direction: column;
}

form label {
    font-size: 1vw;
    font-weight: bolder;
    color: #a0a8b0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 0.5vh;
    font-size: 1.8vh;
}

form input, textarea {
    background-color: black;
    border-width: 0 0 0.3vh 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1vw;
    border-color: #a0a8b0;
    color: white;
    transition: background-color 0.4s;
    padding: 1vh;
    font-size: 1.8vh;
    height: 3.4vh;
}

form textarea {
    height: 12vh;
}

form input:hover, textarea:hover {
    background-color: #102442;
}






#info-container {
    margin: 2vw;
    height: 60vh;
    background-color: #081220;
    border-radius: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1vw;
}

#info-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
#info-container li {
    margin: 4vh 3vh;
    font-size: 2vh;
}
  
.contact-header {
    display: flex;
    align-items: center;
    margin-bottom: 1vh;
}
  
#info-container img {
    height: 3vh;
    width: auto;
}
  
.contact-divider {
    height: 2vh;
    width: 0.2vh;
    background-color: white;
    margin: 0 2vh;
}

#info-container address {
    margin: 0;
}

#info-container a {
    color: #6C9ADA;
    text-decoration: none;
    transition: color 0.4s;
}

#info-container a:hover {
    color: white;
}