#contact-us {
    background-color: var(--color25);
    height: 100vh;
    margin-bottom: 0;
    margin-top: -200px;
    padding: 100px 0;
}

#contact-container {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-left: 48px;
    margin-right: 16px;
    max-width: 800px;
}

#contact-container button {
    margin-top: 25px;
}

#contact-container h3 {
    margin-bottom: 0;
}

#contact-container p {
    margin-bottom: 48px;
    margin-top: 8px;
}

#contact-container form {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    width: inherit;
}

.form-item {
    display: flex;
    flex-direction: column;
    flex: 1 1 calc(40% - 10px);
}

form label {
    color: #a0a8b0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    font-weight: bolder;
    margin-bottom: 10px;
}

form input,
textarea {
    background-color: var(--color25);
    border-color: #a0a8b0;
    border-width: 0 0 0.3vh 0;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2em;
    height: 1em;
    padding: 1em;
    transition: background-color 0.4s;
}

form textarea {
    height: 5em;
}

form input:hover,
textarea:hover {
    background-color: var(--color22);
}

#info-container {
    background-color: var(--color24);
    border-radius: 1vh;
    display: flex;
    flex-direction: column;
    font-size: 1em;
    height: 480px;
    justify-content: center;
    margin: 16px;
    margin-right: 48px;
}

#info-container a {
    color: var(--color10);
    text-decoration: none;
    transition: color 0.4s;
}

#info-container a:hover {
    color: var(--color1);
}

#info-container img {
    height: 1.5em;
    width: auto;
}

#info-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.contact-divider {
    background-color: var(--color1);
    height: 20px;
    margin: 0 16px;
    width: 2px;
}

.contact-header {
    align-items: center;
    display: flex;
    margin-bottom: 8px;
}

.contact-item {
    font-size: 1.25em;
    margin: 24px 16px;
}

@media screen and (max-width: 1000px) {
    #contact-us {
        display: flex;
        flex-direction: column;
        height: auto;
        margin-top: 100px;
        max-height: none;
        padding-bottom: 130px;
        padding-top: 24px;
    }

    #contact-container {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 0 16px;
        text-align: center;
    }

    #contact-container h1 {
        font-size: 2em;
    }

    #contact-container p {
        font-size: 1em;
        margin-bottom: 50px;
    }

    #contact-container textarea {
        height: 68px;
    }

    .form-item {
        display: flex;
        flex-direction: column;
        flex: 1 1 calc(100% - 10px);
        text-align: start;
    }

    #info-container {
        font-size: 0.8em;
        height: auto;
        margin: 32px 8px 0 8px;
    }
}