header {
    align-items: center;
    display: flex;
    height: 8rem;
    justify-content: center;
    width: 100%;
    z-index: 2;
}

.header-img-container {
    height: 64px;
    margin-left: 48px;
    width: 600px;
}

.header-img-container > img {
    height: 100%;
    width: 156px;
}

nav {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 64px;
    justify-content: end;
    margin-left: 60px;
    margin-right: 48px;
    max-width: 800px;
    transition: margin 0.4s;
    white-space: nowrap;
    width: calc(50vw + 660px);
}

.nav-item {
    color: var(--color6);
    cursor: pointer;
    font-size: 1.2rem;
    padding: 0 1rem;
    text-align: center;
    transition: color 0.4s;
}

.nav-item:hover {
    color: var(--color1);
}

@media screen and (max-width: 1000px) {
    header {
        justify-content: space-between;
    }

    nav {
        margin-left: 0;
        margin-right: 40px;
    }

    .header-img-container {
        margin-left: 40px;
        margin-right: 10px;
    }

    .ham-ico-container {
        align-items: center;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        height: 3em;
        justify-content: space-evenly;
        width: 2.4em;
    }

    .ham-ico {
        background-color: var(--color1);
        border-radius: 1px;
        box-sizing: border-box;
        content: '';
        min-height: 3px;
        transition: background-color 0.2s;
        width: 2.4em;
    }

    .ham-ico-container:hover .ham-ico {
        background-color: var(--color7);
    }

    .sidemenu {
        background-color: var(--color21);
        display: flex;
        flex-direction: column;
        height: 120vh;
        overflow: hidden;
        position: fixed;
        top: 0%;
        transition: left 0.4s, width 0.4s;
        white-space: nowrap;
        z-index: 20;
    }

    .sidemenu-item {
        align-items: center;
        cursor: pointer;
        display: flex;
        height: 3em;
        justify-content: flex-end;
        padding-right: 20px;
        text-transform: capitalize;
        transition: color 0.2s;
    }

    .sidemenu-item:hover {
        color: var(--color8);
    }

    .sidemenu-close-container {
        align-items: center;
        cursor: pointer;
        display: flex;
        height: 30px;
        justify-content: center;
        width: 30px;
    }

    .sidemenu-close-container:hover .sidemenu-close::before {
        color: var(--color8);
    }

    .sidemenu-close::before {
        color: var(--color1);
        content: '+';
        display: block;
        font-family: 'Times New Roman', Times, serif;
        font-size: 3em;
        font-weight: lighter;
        margin-right: -20px;
        transform: rotate(45deg);
        transition: color 0.2s;
    }
}