.back-home {
    display: flex;
    position: fixed;
    height: 56px;
    width: 56px;
    background-color: #144283;
    left: calc(50vw - 28px);
    border-radius: 56px;
    top: calc(100vh - 90px);
    z-index: 10;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    transition: background-color 0.4s, opacity 0.4s;
    opacity: 0;
    pointer-events: none;
    border: 3px solid #061223;
}

.back-home:hover {
    background-color: #2a5da3;
}

@media screen and (max-width: 1000px) {
    .back-home {
        left: calc(100vw - 88px);
    }
}