.back-home {
    display: flex;
    position: fixed;
    height: 64px;
    width: 64px;
    background-color: #144283;
    left: calc(50vw - 32px);
    border-radius: 56px;
    top: calc(100vh - 100px);
    z-index: 10;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    transition: background-color 0.4s, opacity 0.2s, transform 0.4s;
    opacity: 0;
    pointer-events: none;
    box-shadow: 2px 2px 2px #0C2446;
}

.back-home:hover {
    background-color: #2a5da3;
}