:root {
	--border-radius: 0.5vh;
}

* {
	font-family: Montserrat;

}
body {
	background-color: black;
	color: white;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-ms-overflow-style:none;
	overflow-x: hidden;
}