*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: Montserrat;
}

body {
	background-color: var(--color0);
	color: var(--color1);
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-ms-overflow-style:none;
	overflow-x: hidden;
	position: relative;
}

html {
	overflow-x: hidden;
}

section {
    display: flex;
    width: 100%;
    margin: 80px 0;
    max-height: 1080px;
    justify-content: center; 
    align-items: center;
}

h1 {
    font-size: 4em;
    font-weight: 500;
    margin: 0;
}

h2 {
    font-size: 3em;
    font-weight: 500;
}

h3 {
    font-size: 2.5em;
    font-weight: 500;
}

h4 {
    font-size: 1.4em;
    font-weight: 500;
    margin: 24px 16px 16px;
}

h5 {
    font-size: 1em;
    font-weight: 500;
    margin: 0;
    color: var(--compcolor7);
}

p {
    font-size: 1.3em;
    color: var(--color5);
}

li::before {
    height: 0;
    content: '✓';
    color: var(--compcolor12);
    margin-right: 10px;
    line-height: 1.25;
}

button {
    border-width: 0;
    background-color: var(--color20);
    color: var(--color1);
    cursor: pointer;
    padding: 1rem 5rem;
    border-radius: 40px;
    transition: background-color 0.4s;
    width: fit-content;
    min-width: 250px;
    font-size: 1.2em;
    box-shadow: 2px 2px 2px var(--color22);
}

button:hover {
    background-color: var(--color17);
}


@media screen and (max-width: 1000px) {
    .section-container {
        height: inherit;
        flex-direction: column;
    }
}