.services-card {
    width: 50%;
	max-width: 100px;
    min-height: 90%;
	height: 90%;
    margin-right: 8px;
	transform: skew(-5deg);
	background: #555;
    transition: max-width 0.4s;
    cursor: pointer;
    border-radius: 8px;
    overflow: hidden;
    white-space: nowrap;
    border: 1px solid black;
}

.services-card.expanded {
    max-width: 50%;
}

.services-card ul,
.services-card p {
    white-space: normal;
    margin-bottom: 0;
}

.services-card-content {
    z-index: 2;
    display: flex;
    position: absolute;
    flex-direction: column;
    padding: 0 40px;
    width: 48vw;
    min-width: 48vw;
    transform: skew(5deg);
    opacity: 0;
}

.services-card.expanded .services-card-content {
    opacity: 1;
}

.services-card > img,
.services-card.expanded > img {
    display: flex;
    position: absolute;
    width: 2000px;
    height: 1000px;
    top: 0;
    z-index: 1;
}

.services-card .radial-gradient {
    opacity: 0;
    transition: opacity 0.5s;
}

.services-card.expanded .radial-gradient {
    opacity: 1;
}

.radial-gradient {
    z-index: 2;
    display: flex;
    position: absolute;
    height: 300%;
    width: 300%;
    top: -150%;
    left: -50%;
    background: radial-gradient(circle, rgba(0,0,0,1) 39%, rgba(255,255,255,0) 100%);
}


@media screen and (max-width: 1000px) {
    #our-services > .section-container {
        flex-direction: row;
        margin: 0px;
        padding: 0;
    }
    
    .services-card {
        height: 80vh;
        max-width: 70vw;
        transform: skew(-2deg);
        /* max-width: 90px; */
    }

    .services-card:last-child,
    .services-card:first-child {
        max-width: 50px;
        height: 80vh;
    }

    .services-card-content {
        transform: skew(2deg);
    }
}