#our-services {
    display: flex;
    flex-direction: column;
    margin-bottom: 300px;
    margin-top: 280px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 32px;
    column-gap: 32px;
    justify-content: center;
    max-width: 1558px;
    width: 100%;
    margin: 48px 0;
}

.services-anchor {
    color: var(--color10);
    cursor: pointer;
    transition: color 0.3s;
    white-space: nowrap;
    width: 0;
}

.services-anchor:hover {
    color: var(--color1);
}

.services-card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 600px;
    max-width: 480px;
    min-height: 600px;
    min-width: 280px;
    opacity: 0;
    overflow: hidden;
    position: relative;
    transition: opacity 2s, transform 1s, height 0.3s;
}

.services-card:hover .right-arrow,
.services-card:hover .services-cta {
    color: var(--color8);
    stroke: var(--color8);
}

.services-card:hover img {
    transform: scale(1.025);
}

.services-card:nth-child(2) {
    transition-delay: 200ms;
}

.services-card:nth-child(3) {
    transition-delay: 400ms;
}

.services-card:nth-child(4) {
    transition-delay: 600ms;
}

.services-card:nth-child(5) {
    transition-delay: 800ms;
}

.services-card:nth-child(6) {
    transition-delay: 1000ms;
}

.services-card.expand .services-card-details {
    opacity: 1;
}

.services-card.expand .services-card-img-container {
    height: 0px;
    opacity: 0;
}

.services-card-content {
    display: flex;
    flex-direction: column;
    height: fit-content;
    overflow: hidden;
    width: auto;
    justify-content: start;
    padding: 0 16px;
}

.services-card-content > h4 {
    margin: 16px 0;
}

.services-card-content-container {
    height: 90%;
    overflow: hidden;
}

.services-card-content li {
    display: flex;
    line-height: 1.4;
    margin: 8px;
    margin-left: -16px;
}

.services-card-content ul {
    list-style: none;
    padding-left: 32px;
}

.services-card-details {
    margin-right: 8px;
    opacity: 0;
    transition: opacity 0.2s;
}

.services-card-img-container {
    height: 380px;
    opacity: 1;
    overflow: hidden;
    transition: height 0.5s, opacity 0.5s;
    width: 600px;
}

.services-card-img-container img {
    transition: transform 0.4s;
    width: inherit;
}

.services-card-img-overlay {
    background-clip: padding-box;
    background-color: var(--color1);
    border-bottom: 40px solid var(--color0);
    border-left: 480px solid #00000000;
    display: flex;
    height: 0;
    position: relative;
    top: -63px;
    width: 0;
}

.services-card p {
    font-size: 0.925em;
    white-space: normal;
}

.services-cta {
    background-color: var(--color0);
    display: flex;
    flex-direction: column;
    padding: 16px;
    transition: color 0.5s;
    width: 100%;
    z-index: 1;
}

.services-cta::before {
    background-color: var(--color22);
    content: '';
    height: 1px;
    margin-bottom: 8px;
    width: 100%;
}

.services-cta span {
    display: flex;
    width: 120px; 
    overflow: hidden;
    transition: width 0.3s ease-in-out; 
    white-space: nowrap;
}

.right-arrow {
    display: flex;
    height: 16px;
    left: 8px;
    position: relative;
    top: 2px;
    transition: stroke 0.5s;
    width: 16px;
}

@media screen and (max-width: 1300px) {
    .services-card {
        height: 610px;
    }
}

@media screen and (max-width: 1100px) {
    .services-card {
        height: 660px;
    }
}

@media screen and (max-width: 1000px) {
    #our-services {
        margin-bottom: 0;
        margin-top: 0;
        max-height: none;
    }

    .services-cta {
        padding: 16px;
    }

    .cards-container {
        align-items: center;
        justify-content: center;
        max-width: 400px;
        width: 100vw;
    }

    .services-card {
        max-width: 400px;
        width: 100vw;
    }
}